name: Deploy GLLUG Site to LAMP Server

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v6
        with:
          path: main
      - name: Get public branch
        uses: actions/checkout@v6
        with:
          ref: public
          path: public
      - name: Set up Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: "0.152.2"
      - name: Build the site
        working-directory: main
        run: hugo --minify --destination ../public
      - name: Artifact upload
        uses: actions/upload-artifact@v5
        with:
          name: hugo-public
          path: public/
      - name: Update public branch
        working-directory: public
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add .
          git commit -m "Update  public branch"
          git push origin public
